.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Upload new photo";
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity));
  display: inline-block;
  --tw-border-opacity: 1;
  border-color: rgb(82 82 82 / var(--tw-border-opacity));
  border: 1px solid #999;
  padding: 8px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 500;

  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  --tw-text-opacity: 1;
  color: rgb(82 82 82 / var(--tw-text-opacity));
  border-radius: 0.375rem /* 6px */;
  margin: 0 20px;
}
.custom-file-input:hover::before {
  border-color: black;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

body {
  padding: 20px;
}
